//colors
$green: #68AC4E;
$darkWhite: #F7F7F9;
$white: #fff;
$black: #222222;
$lightBlack: #23303B;
$darkGrey: #46515B;
$grey: #A7A7A7;
$lightGrey: #C2C2C2;
$greyWhite: #FBFBFB;

//fonts
$font: 'Montserrat', sans-serif;

