.footer {
    font-family: $font;
    .container {
        padding: 55px 59px 55px;
    }
    .logo {
        margin-bottom: 65px;
        img {
            width: 255px;
            height: 53px;
        }
    }
    .address-list {
        &__item {
            position: relative;
            &-city {
                font-weight: 600;
                font-size: 20px;
                line-height: 147.9%;
                color: $lightBlack;
                margin-bottom: 7px;
            }
            &-street {
                font-weight: 500;
                font-size: 16px;
                line-height: 147.9%;
                color: $lightBlack;
                margin-bottom: 40px;
            }
            &-email {
                font-weight: 600;
                font-size: 16px;
                line-height: 147.9%;
                color: $green;
            }
            &-email:nth-of-type(even) {
                font-weight: 500;
                font-size: 16px;
                line-height: 147.9%;
                color: $lightBlack;
                margin-bottom: 25px;
            }
            &-contact {
                font-weight: 600;
                font-size: 16px;
                line-height: 147.9%;
                color: $green;
            }
            &-contact:nth-of-type(even) {
                font-weight: 500;
                font-size: 16px;
                line-height: 147.9%;
                color: $lightBlack;
                margin-bottom: 80px;
            }
        }
        &__item::after {
            content: " ";
            border: 1px solid $lightGrey;
            width: 315px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 115%;
        }
    }
    .footer-subtitle {
        &__text {
            font-weight: 500;
            font-size: 16px;
            line-height: 147.9%;
            color: $grey;
        }
        &__text:nth-of-type(odd) {
            margin-bottom: 25px;
        }
    }
}