.header {
    .container {
        padding: 15px 30px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
        justify-content: center;
    }
    .navigation {
        .menu-button {
            width: 40px;
            height: 40px;
            float: right;
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__item {
                    position: relative;
                    width: 30px;
                    height: 2px;
                    background-color: #000;
                    opacity: 1;
            }
            &__item::before {
                position: absolute;
                left: 0;
                content: " ";
                width: 30px;
                height: 2px;
                background-color: #000;
                opacity: 100%;
                top: -13px;
                transition: transform 0.15s ease, top 0.15s ease 0.16s;
            }
            &__item::after {
                position: absolute;
                left: 0;
                content: " ";
                width: 30px;
                height: 2px;
                background-color: #000;
                opacity: 100%;
                bottom: -13px;
                transition: transform 0.15s ease, bottom 0.15s ease 0.16s;
            }
        }
        .main-menu {
            position: fixed;
            z-index: 3;
            background-color: $green;
            min-height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            transition: left 0.2s ease;
            padding: 240px 95px;
            text-align: center;
        }
    }
    .service-button {
        display: none;
    }
}