.services {
    background-color: $darkWhite;
    .container{
        padding: 103px 9px 57px;
    }
    .services-title {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        line-height: 138.9%;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 60px;
    }
    .services-list {
        margin-bottom: 90px;
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 5px;
            min-width: 357px;
            min-height: 157px;
            box-shadow: 0px 4px 10px rgba(178, 186, 207, 0.38);
            border-radius: 22px;
            background-color: $white;
            margin-bottom: 11px;
            a {
                text-decoration: none;
            }
            .icon {
                width: 36px;
                height: 36px;
            }
            &-title {
                font-weight: 600;
                font-size: 19px;
                line-height: 121.4%;
                color: $black;
            }
            &-subtitle {
                font-weight: 500;
                font-size: 16px;
                line-height: 121.4%;
                color: $black;
            }
        }
        &__item:last-of-type {
            margin-bottom: 0px;
        }
    }
}